.instagram.load-content {
    &:after {
        position: absolute;
    }
}
.instagram.--skeleton {
    .instagram__item {
        min-height: 25rem;
        background: #f1f1f1;
    }
    .instagram__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
    }
}
.instagram.--skeleton.--slider {
    .instagram__item {
        &:nth-child(n + 5) {
            display: none;
        }
    }
}

.instagram__label {
    .headline {
        flex-wrap: wrap;
    }
    &:hover {
        .headline__after {
            color: #b29370;
        }
    }
    a {
        text-decoration: none;
    }
    .headline__after {
        color: #000;
        text-decoration: underline;
        &:before {
            display: none;
        }
    }
}
.instagram__item {
    overflow: hidden;
    a {
        overflow: hidden;
        position: relative;
        display: flex;
        align-content: flex-start;
        justify-content: center;
        height: 100%;
        aspect-ratio: 1;
        max-height: 50vw;
        img {
            object-fit: cover;
            width: 100%;
        }
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            position: absolute;
            left: 0;
            top: 0;
            transition: 0.2s all;
            opacity: 0;
        }
        &:after {
            font-family: FontAwesome;
            content: url("/gfx/standards/instagram.svg");
            color: #fff;
            font-size: 3rem;
            line-height: 3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.35s all;
            opacity: 0;
        }
        &:hover {
            &:before {
                opacity: 1;
            }
            &:after {
                opacity: 1;
            }
        }
    }
}
.instagram__item.--video {
    video {
        max-width: 100%;
    }
    a {
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
    }
}
.instagram {
    &:not(.--slider) {
        .instagram__items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1.5rem;
        }
    }
}
.instagram.--slider {
    .slick-list {
        margin: 0 -0.75rem;
    }
    .slick-track {
        display: flex;
    }
    .instagram__items {
        overflow: hidden;
    }
    .instagram__item {
        margin: 0 0.75rem;
        height: unset;
    }
}

div.news_fb_comments {
    margin-top: 15px;
    width: 100%;
    clear: both;
}
div.news_fb_comments_label {
    margin-bottom: 10px;
}
div._fb_comments {
    iframe {
        width: 100% !important;
        margin-bottom: 30px;
        background: #fff;
    }
}
