@font-face {
    font-family: Futura;
    font-weight: 300;
    font-display: swap;
    src: url(/data/include/cms/MkFresh/theme/fonts/futuraltpro-light.otf) format("truetype");
}

@font-face {
    font-family: Futura;
    font-weight: 400;
    font-display: swap;
    src:
        url(/data/include/cms/MkFresh/theme/fonts/futuraltpro-book.woff) format("woff"),
        url(/data/include/cms/MkFresh/theme/fonts/futuraltpro-book.otf) format("truetype");
}

@font-face {
    font-family: Futura;
    font-weight: 500;
    font-display: swap;
    src:
        url(/data/include/cms/MkFresh/theme/fonts/futuraltpro-medium.woff) format("woff"),
        url(/data/include/cms/MkFresh/theme/fonts/futuraltpro-medium.otf) format("truetype");
}

@font-face {
    font-family: Futura;
    font-weight: 700;
    font-display: swap;
    src:
        url(/data/include/cms/MkFresh/theme/fonts/futuraltpro-bold.woff) format("woff"),
        url(/data/include/cms/MkFresh/theme/fonts/futuraltpro-bold.otf) format("truetype");
}

@font-face {
    font-family: "FontAwesome";
    src:
        url("/data/include/cms/MkFresh/theme/fonts/fontello.eot#iefix") format("embedded-opentype"),
        url("/data/include/cms/MkFresh/theme/fonts/fontello.woff?r=1698404668") format("woff"),
        url("/data/include/cms/MkFresh/theme/fonts/fontello.ttf?r=1698404668") format("truetype"),
        url("/data/include/cms/MkFresh/theme/fonts/fontello.svg#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
