@font-face {
    font-family: Futura;
    font-weight: 300;
    font-display: swap;
    src: url(https://www.konesso.pl/data/designs/xsl/11_1/gfx/assets/fonts/futuraltpro-light.otf) format("truetype");
}

@font-face {
    font-family: Futura;
    font-weight: 400;
    font-display: swap;
    src:
        url(https://www.konesso.pl/data/designs/xsl/11_1/gfx/assets/fonts/futuraltpro-book.woff) format("woff"),
        url(https://www.konesso.pl/data/designs/xsl/11_1/gfx/assets/fonts/futuraltpro-book.otf) format("truetype");
}

@font-face {
    font-family: Futura;
    font-weight: 500;
    font-display: swap;
    src:
        url(https://www.konesso.pl/data/designs/xsl/11_1/gfx/assets/fonts/futuraltpro-medium.woff) format("woff"),
        url(https://www.konesso.pl/data/designs/xsl/11_1/gfx/assets/fonts/futuraltpro-medium.otf) format("truetype");
}

@font-face {
    font-family: Futura;
    font-weight: 700;
    font-display: swap;
    src:
        url(https://www.konesso.pl/data/designs/xsl/11_1/gfx/assets/fonts/futuraltpro-bold.woff) format("woff"),
        url(https://www.konesso.pl/data/designs/xsl/11_1/gfx/assets/fonts/futuraltpro-bold.otf) format("truetype");
}

@font-face {
    font-family: "FontAwesome";
    src:
        url("https://www.konesso.pl/data/designs/xsl/11_1/gfx/assets/fonts/fontello.eot#iefix")
            format("embedded-opentype"),
        url("https://www.konesso.pl/data/designs/xsl/11_1/gfx/assets/fonts/fontello.woff?r=1698404668") format("woff"),
        url("https://www.konesso.pl/data/designs/xsl/11_1/gfx/assets/fonts/fontello.ttf?r=1698404668")
            format("truetype"),
        url("https://www.konesso.pl/data/designs/xsl/11_1/gfx/assets/fonts/fontello.svg#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
