.less_hotspot_name {
    text-decoration: none;
    color: #333;
}
.less_hotspot_maxprice {
    color: #c4c7c8;
    text-decoration: line-through;
    font-size: 0.86em;
}
.less_hotspot_price {
    color: #333;
    font-size: 1em;
    font-weight: bold;
}
.less_hotspot_name_hover {
    color: #b29370;
}
