.traits {
    font-size: 1.3rem;
}
.traits.--show {
    .traits__item {
        display: flex;
    }
    .traits__all {
        display: none;
    }
}
.traits__item {
    display: flex;
}
.traits__item[data-hide="true"] {
    display: none;
}
.traits__label {
    text-transform: uppercase;
    // width: 146px;
    min-width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
    &:after {
        content: ":";
    }
}
.traits__values {
    overflow: hidden;
    text-overflow: ellipsis;
}
.traits__value {
    margin-right: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    &:after {
        content: ",";
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
}
