#logo {
    display: flex;
    align-items: center;
    .large {
        display: none;
        &:before {
            content: " ";
            display: block;
            width: 190px;
            height: 175px;
            background-position: 0 -193px;
            background-image: url(https://www.konesso.pl/data/designs/xsl/11_1/xsl/img/icons.png?v=1701432610277);
        }
    }
    .small {
        // display: none;
        &:before {
            content: " ";
            display: block;
            width: 165px;
            height: 49px;
            background-position: -500px -50px;
            background-image: url(https://www.konesso.pl/data/designs/xsl/11_1/xsl/img/icons.png?v=1701432610277);
        }
    }
}
@media all and (min-width: 976px) {
    .largeLogo #Logo {
        align-items: flex-start;
        .small {
            display: none;
        }
        .large {
            display: block;
        }
    }
}

header {
    .text-l {
        font-size: 14px;
        color: #b29370;
        text-transform: uppercase;
        padding: 10px 20px;
        border-left: 1px solid #b29370;
        text-decoration: none;
        font-weight: 500;
        display: flex;
        align-items: center;
        &:hover {
            color: #000;
            text-decoration: underline;
        }
    }
    .shopping_list_top {
        border-left: 1px solid #b29370;
        padding: 10px 20px;
        a {
            text-decoration: none;
        }
    }
    .account_link {
        // border-left: 1px solid #b29370;
        padding: 10px 20px;
        text-decoration: none;
    }
    .contact__info {
        font-size: 12px;
    }
    .nav-link {
        padding: 10px;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
    }
    @media all and (max-width: 976px) {
        .main-holder {
            > .col:nth-child(3),
            > .col:nth-child(2) {
                justify-content: end;
                display: flex;
                max-width: 50px;
            }
        }
    }
}

.nav-item:hover .menu-item-underline {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.menu-item-underline {
    border-color: #b29370;
    transition: all 0.3s ease-in-out;
    width: 100%;
    transform: scaleX(0);
    border-top-width: 1px;
    border-bottom: 0;
}

.basket-wrapper {
    display: flex;
    justify-content: flex-end;
    max-width: 253px;
    @media screen and (max-width: 976px) {
        margin-right: 10ox;
    }
}
