@media all and (min-width: 976px) {
    div#main_banner1 {
        max-height: 650px;
        picture img {
            min-width: 100vw;
        }
        a.slick-prev.slick-arrow {
            left: 15px;
        }
    }

    .slick-next,
    .slick-prev {
        &:hover {
            text-decoration: none;
        }
    }
}
.onasstepts {
    span {
        display: block;
        padding: 5px;
    }
    @media all and (max-width: 500px) {
        flex-wrap: wrap;
        > div {
            width: 50%;
            flex: 50%;
        }
    }
}

.icon--product-trust-bean:before {
    display: block;
    content: " ";
    width: 4.4rem;
    height: 3.6rem;
    background-position: -250px -50px;
    background-image: url(https://www.konesso.pl/data/designs/xsl/11_1/xsl/img/icons.png?v=1701432610277);
}
.icon--product-trust-truck:before {
    display: block;
    content: " ";
    width: 7.2rem;
    height: 6rem;
    background-position: -300px -50px;
    background-image: url(https://www.konesso.pl/data/designs/xsl/11_1/xsl/img/icons.png?v=1701432610277);
}
.icon--48-hours:before {
    display: block;
    content: " ";
    height: 48px;
    background-position: -373px -50px;
    background-image: url(https://www.konesso.pl/data/designs/xsl/11_1/xsl/img/icons.png?v=1701432610277);
    width: 66px;
}
.icon--product-trust-globe:before {
    display: block;
    content: " ";
    width: 4.8rem;
    height: 4.8rem;
    background-position: -450px -50px;
    background-image: url(https://www.konesso.pl/data/designs/xsl/11_1/xsl/img/icons.png?v=1701432610277);
}

$overlay-color: rgba(0, 0, 0, 0.5);

.image-block {
    position: relative;
    min-height: 40rem;
    color: white;
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;

    &:hover {
        .overlay {
            background: $overlay-color;
        }

        .title-text,
        .article-text {
            color: #c9d3dd;
        }
    }

    .icon--right-arrow .ml-2 {
        color: #c9d3dd;
    }

    .title-text {
        font-size: 3rem;
        font-weight: bold;
        z-index: 1;
        margin-left: 2rem;
        color: white;
        top: 0;
    }

    .article-text {
        font-size: 1.5rem;
        z-index: 1;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

    .btn-like {
        background-color: #b29370;
        color: white;
        padding: 1rem 2rem;
        border-radius: 0.25rem;
        z-index: 1;

        margin-bottom: 2rem;

        &:hover {
            background-color: #15120f;
            color: white;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
        transition: background 0.3s ease; /* Dodano przejście dla tła */
    }

    @media all and (max-width: 976px) {
        min-height: 30rem;

        .title-text {
            font-size: 2rem;
        }

        .btn-like {
            font-size: 1.5rem;
        }
    }
}

.image-block.large {
    min-height: 60rem;
    @media screen and (max-width: 760px) {
        min-height: 40rem;
    }
}

.banners {
    .image-block {
        min-height: 30rem;
        position: relative;
        color: white;
        text-decoration: none !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 1rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.content-collapse {
    height: 210px;
    overflow: hidden;
    transition: height 0.3s ease;
    padding: 1rem;
}

.expanded {
    height: auto;
}

#footer-paragraph {
    position: relative;
    margin-bottom: 1.5rem;
    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        height: 30px;
        background: linear-gradient(to bottom, transparent, white);
    }
}

#showMore {
    position: absolute;
    right: 0;
    bottom: -15px;
    cursor: pointer;
    z-index: 1;
    &:hover {
        text-decoration: underline;
        color: #b29370;
    }
}
.footer-paragraph__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0 1rem;
}

.navbar-subnav {
    transform: translateY(1px);
}

#main_blog .article__name_wrapper {
    z-index: 1;
    padding: 1rem 2rem;
    .article__name {
        color: #fff;
    }
}
