.aroma-links {
    font-weight: bold;
    max-width: 60%;
    text-align: right;
}

.stars-coffee {
    > span {
        display: inline-block;
        margin-left: 0.25rem;
        width: 1.75rem;
        height: 1.75rem;
        &:before {
            display: block;
            content: " ";
            width: 1.75rem;
            height: 1.75rem;
            background-position: -250px -100px;
            background-image: url(/data/include/cms/MkFresh/theme/icons.png);
        }
        &.half:before {
            background-position: -450px -100px;
        }
        &.empty:before {
            background-position: -275px -100px;
        }
    }
}

.sl_choose.--active {
    display: flex;
    animation: none;
}

#product_extra_info1 {
    background: #ede5da;
}

.mk_extra_info {
    list-style: none;
    li {
        margin-bottom: 20px;
        > * {
            display: block;
            margin-bottom: 5px;
        }
    }
    @media all and (max-width: 976px) {
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
        li {
            width: 50%;
        }
    }
}

.cafe-method {
    background: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 10px;
    cursor: pointer;
    &:before {
        display: block;
        content: " ";
        width: 5rem;
        height: 4.9rem;
        background-image: url(/data/include/cms/MkFresh/theme/icons.png);
    }
    &.img-method-frenchpress:before {
        background-position: -240px -125px;
    }
    &.img-method-kawiarka:before {
        background-position: -192px -125px;
    }
    &.img-method-ekspreskolbowy:before {
        background-position: -350px -125px;
    }
    &.img-method-ekspresprzelewowy:before {
        background-position: -296px -125px;
    }
    &.img-method-tradycyjny:before {
        background-position: -492px -125px;
    }
    &.img-method-ekspresautomatyczny:before {
        background-position: -146px -128px;
    }
}

@import "product/blog";

#pswp {
    @media screen and (min-width: 1200px) {
        position: fixed;
        left: 50%;
        top: 50%;
    }
}

.taste-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mkdesc {
    overflow-x: hidden;
    text-align: center;
}

.longdescription {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: hidden;
    p {
        margin-bottom: 10px;
    }
}

.modal__content .sl_choose {
    display: block;
}

@media screen and (max-width: 760px) {
    .topoceny {
        > * {
            margin-bottom: 15px;
        }
    }
}
