div.px-2.py-1.d-flex.flex-row.justify-content-center.align-items-center {
    input[type="checkbox"] {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 40px;
        height: 14px;
        background: rgb(28, 28, 28);
        display: block;
        border-radius: 100px;
        position: relative;
    }

    label:after {
        content: "";
        position: absolute;
        top: -3;
        left: 0;
        width: 20px;
        height: 20px;
        background: #b29370;
        border-radius: 90px;
        transition: 0.3s;
    }

    input:checked + label {
        background: #070707;
    }

    input:checked + label:after {
        left: calc(100%);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 30px;
    }
}

.graph-background {
    background-color: #ede5da;
    width: 360px;
    height: 383px;
    display: none;
}

.sort-dropdown-trigger,
.filter-dropdown-trigger {
    i {
        color: #b29370 !important;
    }
}

.product-img {
    img {
        max-height: 340px;
    }
}

.line-through {
    text-decoration: line-through;
}

.f-group label.f-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    direction: ltr;
}