.flag {
    display: inline-block;
    width: 20px;
    height: 14px;
    vertical-align: middle;
    margin-right: 10px;
    background: no-repeat scroll;
    background-size: cover;
    background-position-y: center;
}
.flag_txt {
    font-size: 1.1em;
    font-weight: bold;
    padding-right: 5px;
    vertical-align: middle;
}
.flag_alb {
    background-image: url("/gfx/standards/alb.svg");
}
.flag_arm {
    background-image: url("/gfx/standards/arm.svg");
}
.flag_aze {
    background-image: url("/gfx/standards/aze.svg");
}
.flag_bel {
    background-image: url("/gfx/standards/bel.svg");
}
.flag_bos {
    background-image: url("/gfx/standards/bos.svg");
}
.flag_bul {
    background-image: url("/gfx/standards/bul.svg");
}
.flag_cze {
    background-image: url("/gfx/standards/cze.svg");
}
.flag_dan {
    background-image: url("/gfx/standards/dan.svg");
}
.flag_dut {
    background-image: url("/gfx/standards/dut.svg");
}
.flag_eng {
    background-image: url("/gfx/standards/eng.svg");
}
.flag_est {
    background-image: url("/gfx/standards/est.svg");
}
.flag_fin {
    background-image: url("/gfx/standards/fin.svg");
}
.flag_fre {
    background-image: url("/gfx/standards/fre.svg");
}
.flag_geo {
    background-image: url("/gfx/standards/geo.svg");
}
.flag_ger {
    background-image: url("/gfx/standards/ger.svg");
}
.flag_gre {
    background-image: url("/gfx/standards/gre.svg");
}
.flag_hun {
    background-image: url("/gfx/standards/hun.svg");
}
.flag_ice {
    background-image: url("/gfx/standards/ice.svg");
}
.flag_ita {
    background-image: url("/gfx/standards/ita.svg");
}
.flag_kaz {
    background-image: url("/gfx/standards/kaz.svg");
}
.flag_lav {
    background-image: url("/gfx/standards/lav.svg");
}
.flag_lit {
    background-image: url("/gfx/standards/lit.svg");
}
.flag_ltz {
    background-image: url("/gfx/standards/ltz.svg");
}
.flag_mac {
    background-image: url("/gfx/standards/mac.svg");
}
.flag_mlt {
    background-image: url("/gfx/standards/mlt.svg");
}
.flag_mol {
    background-image: url("/gfx/standards/mol.svg");
}
.flag_nor {
    background-image: url("/gfx/standards/nor.svg");
}
.flag_pol {
    background-image: url("/gfx/standards/pol.svg");
}
.flag_por {
    background-image: url("/gfx/standards/por.svg");
}
.flag_rum {
    background-image: url("/gfx/standards/rum.svg");
}
.flag_rus {
    background-image: url("/gfx/standards/rus.svg");
}
.flag_scc {
    background-image: url("/gfx/standards/scc.svg");
}
.flag_scr {
    background-image: url("/gfx/standards/scr.svg");
}
.flag_slo {
    background-image: url("/gfx/standards/slo.svg");
}
.flag_slv {
    background-image: url("/gfx/standards/slv.svg");
}
.flag_spa {
    background-image: url("/gfx/standards/spa.svg");
}
.flag_swe {
    background-image: url("/gfx/standards/swe.svg");
}
.flag_tur {
    background-image: url("/gfx/standards/tur.svg");
}
.flag_ukr {
    background-image: url("/gfx/standards/ukr.svg");
}
